<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="book-a-table section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Register</h2>
        <p><span>REGISTER</span> <span class="description-title"><br> With Us</span></p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row g-0" data-aos="fade-up" data-aos-delay="100">

          <div class="col-lg-4 reservation-img" style="background-image: url({% static 'assets/img/reservation.jpg' %});"></div>

          <div class="col-lg-8 d-flex align-items-center reservation-form-bg" data-aos="fade-up" data-aos-delay="200">
              <form method="post">
                {% csrf_token %}
                  <div class="row gy-4">
                    <div class="col-lg-4 col-md-6">
                      <input type="text" name="u" placeholder="Enter Username" class="form-control">
                    </div>
                    <div class="col-lg-4 col-md-6">
                      <input type="password" name="p" placeholder="Enter Password" class="form-control">
                    </div>
                    <div class="col-lg-4 col-md-6">
                      <input type="password" name="cp" placeholder="Confirm Password" class="form-control">
                    </div>
                    <div class="col-lg-4 col-md-6">
                      <input type="text" name="fn" placeholder="Enter First Name" class="form-control">
                    </div>
                    <div class="col-lg-4 col-md-6">
                      <input type="text" name="ln" placeholder="Enter Last Name" class="form-control">
                    </div>
                    <div class="col-lg-4 col-md-6">
                      <input type="email" name="e" placeholder="Enter Email" class="form-control" aria-describedby="emailHelp">
                    </div>
                    <div class="text-center mt-5">
                      <button type="submit" class="btn btn-danger">REGISTER</button>
                    </div>
                  </div>
                  <div>
                    {% if messages %}
                      <ul class="messages">
                        {% for message in messages %}
                          <li style="color:red;">{{ message }}</li>
                        {% endfor %}
                      </ul>
                    {% endif %}
                  </div>
              </form>
          </div>
        </div>
      </div>


    </section>

{% endblock %}